body{
  max-width: 1000px;
  margin: 10px auto;
  background-image: url("../images/fondo.jpg"); 
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  /*Descargado de http://www.hdfondos.eu/imagen/92048/doblado-madera-4k-fondo-de-pantalla */
}

.padding-rl-0{
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}


.login {
  width: 90%;
  margin: 5% 0;
}

/* CAROUSEL CUERPO */
.container-fluid {
  height: 90%;
  width: 100%;
}

.carousel-inner img {
  height: 300px;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}


.logo {
  max-height: 150px;
}

.form-inline .form-control {
  width: 100%;

}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  color: white
}


/* PERFIL DE USUARIO */
img.perfil {
  width: 15%
}


/* FORMULARIO CONTACTO */

/* .cajaformulario{
background-color: transparent;
position: absolute;
left: 400px; 
padding-left: 20px;
padding-right: 40px;}*/

.btn-contacto{
  font-size: 15px;
  color: white;
  background-color: gold;
  border-radius: 10px;
  width: 100%;
}

.segundoboton{
  background-color: grey;
  color: gold;
}

.ingreso{
  width: 50%;
  
}

/*LOGIN*/
.margen-sup {
  min-height: 50px;
}

.bg-black{
  background-color: rgba(0, 0, 0,0.5)
}

