body{
  max-width: 1100px;
  margin: 10px auto;
  background-image: url("../images/test.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.form-inline .form-control {
  width: 100%;

}


/****  BARRA NAVEGACION   ****/
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.btn-nav {
  width: 70%;
  margin: 2% 0;
}

.logo {
  max-height: 100px;
}

.btn-cart {
  width: 30%;
  margin: 2% 0;
}

/****  CUERPO PAGINA PRINCIPAL   ****/

/* CAROUSEL CUERPO */
.container-fluid {
  height: 90%;
  width: 100%;
}

.carousel-inner img {
  height: 300px;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  color: white
}


/**** PERFIL DE USUARIO ****/
img.perfil {
  width: 15%
}


/**** FORMULARIO CONTACTO ****/

.btn-contacto{
  font-size: 15px;
  color: white;
  background-color: gold;
  border-radius: 10px;
  width: 100%;
}

.segundoboton{
  background-color: grey;
  color: gold;
}

.ingreso{
  width: 50%;
  
}

/**** PAGINA LOGIN ****/
.margen-sup {
  min-height: 50px;
}

.bg-black{
  background-color: rgba(0, 0, 0,0.5)
}


@media (min-width: 576px) and (max-width: 767px){
  .container {
    max-width: 767px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .container {
    max-width: 991px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .container {
    max-width: 1199px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}


