/*Generales*/

* {
  font-family: 'Lato', sans-serif;
}

.container {
  margin:0;
  max-width: 100%;
}

textarea {
  resize: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/*Expando el main ocupando todo el espacio vacio con flexbox para asegurarme de que el foooter quede donde tiene que estar */
main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}


/****  BARRA NAVEGACION   ****/
.nav-1 {
  background-color: rgb(49, 49, 49);
}

.nav-2 {
  background-color: #D7B377;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.7)!important;
}

.form-inline .form-control {
  width: 80%;
}

.navbar-dark .navbar-toggler {
  color: white;
  background-color: gray;
}

.navbar-toggler-icon, .btn-search{
  color:white;
}

.btn-nav{
  width: 100px;
}

.btn-search{
  padding: 0.310rem .60rem;
}

.btn-user, .btn-search, .btn-modal {
  background-color: rgb(49, 49, 49);
  color: rgb(218, 214, 214);
}

/****  CUERPO PAGINA PRINCIPAL   ****/

/* CAROUSEL CUERPO */

.carousel-inner img {
  height: 400px;
  /* opacity: 0.8;
  filter: alpha(opacity=60); For IE8 and earlier */
}

.jumbotron {
  background-color: #D7B377;
}

.card-img{
  min-height: 200px;
  max-height: 200px;
  width: 50%;
  opacity: 0.9;
}

.card-img-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
}

/**** PERFIL DE USUARIO ****/
img.perfil {
  width: 190px;
  height: 230px;
}


/**** PAGINA LOGIN ****/
/* .margen-sup {
  min-height: 50px;
}

.bg-black{
  background-color: rgba(0, 0, 0,0.8)
}

.modal-content {
  background-color: rgba(0, 0, 0,0.1);
} */


/**** FOOTER ****/
.btn-foot{
  /*min-width: 250px;*/
  color: black;
  font-weight: bold;
  border: 0;
}

/*Remuevo el borde de los botones al realizar click*/
.btn-foot:focus{
  outline: none;
}

.card-title{
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
} 

.card .card-header {
  background-color: rgb(49, 49, 49);
  border: none;
  color: white;
}

.card-body{
  color: black;
  background-color: #D7B377;
  font-weight: bold;

}


.footer-trademark {
  height: 70px;
  background-color: rgb(49, 49, 49);
}

.footer-1, .btn-foot{
  background-color: #D7B377;
}

.cut-text{
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden; 
} 

.table-secondary{
  opacity: 0.8;
}

.table td{
  vertical-align: inherit;
}

/* Modales */
.modal-content{
  background-color: #D7B377;
}

.btn.btn-negro{
  background-color: rgb(54, 54, 54);
  color: whitesmoke;
}

.btn.btn-amarillo{
  background-color: rgb(247, 220, 72);
  color: black;
}

.btn-newsletter{
  position: fixed;
  right: 25px;
  bottom: 20px;
  background-color: rgb(150, 72, 41);
  height: 50px;
  font-size: 1.5rem;
}

/* FAQ */
.body-faq{
  background-color: wheat;
}